

@model KeysOnboarding.ViewModel.ProductViewModel

<div>

    <form id="myFormShow">
        @Html.HiddenFor(m => m.CreateProduct.Id)

        @Html.LabelFor(model => model.CreateProduct.Name)
        @Html.TextBoxFor(model => model.CreateProduct.Name, new { @class = "form-control", @placeholder = "Name", @readonly = "true" })

        @Html.LabelFor(model => model.CreateProduct.Price)
        @Html.TextBoxFor(model => model.CreateProduct.Price, new { @class = "form-control", @placeholder = "Price", @readonly = "true" })

        @*<input type="reset" value="Save" class="btn btn-default" id="btnSubmit2" />*@

    </form>



</div>


<script>

    $(document).ready(function () {
        $("#btnSubmitShow").click(function () {
            var data = $("#myFormShow").serialize();
            debugger
            $.ajax({
                type: "POST",
                url: "/Products/Index",
                data: data,
                success: function (response) {
                    $("#myModalShow").modal("hide");
                    //$("#customer").add();
                    //$("#row_" + d)
                    window.location.href = "/Products/Index";
                }
            })

        })

    })


</script>


